.nav-links {
    display: flex;
    gap: 20px; /* Adjust this value for more or less space */
  }
  
  .nav-link {
    text-decoration: none;
    color: #536493; /* Change as needed */
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #62028f; /* Change as needed */
  }