.nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    color: #536493; 
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #62028f; 
  }